<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="description", content="описание сайта")
		meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
		meta(http-equiv="x-ua-compatible", content="ie-edge")
		meta(name="format-detection", content="telephone=no")
		title Орел-мото
		link(rel="stylesheet", href="css/libs.min.css")
		link(rel="stylesheet", href="css/main.min.css")

	body
		header.header
			.wrapper
				.header__content
					.header__logo
						a.logo__link(href="#")
							img.logo__img(src="img/logo.png", alt="")
					.header__contacts
						.header__phones
							.header__phones-city
								span.phones__code 8(4862) 
								|78-37-78
								br
								span.phones__code 8(4862) 
								|78-27-88
							.header__phones__mobile
								span.phones__code (8962) 
								|475-37-78
								br
								span.phones__code (8962) 
								|475-27-88
						.header__address
							.address__clock
								.addres__clock-icon
									i.fa.fa-clock-o(aria-hidden="true")
								.addres__clock-text
									span.addres__day пн-пт 
									| 9:00 - 18:00
									br
									span.address_vac без выходных
							.address__map
								.addres__map-icon
									i.fa.fa-map-marker(aria-hidden="true")
								.addres__map-text
									| г.Орел, ул.МОПРа 7
									br
									a.address__map-link(href="#") показать на карте
		nav.top-menu
			.wrapper
				.top-menu__content
					ul.top-menu__list
						li.top-menu__item
							a.top-menu__link(href="#").top-menu__link_active Главная
						li.top-menu__item
							a.top-menu__link(href="#") Сервисный центр
						li.top-menu__item
							a.top-menu__link(href="#") Галерея
						li.top-menu__item
							a.top-menu__link(href="#") Наш музей
						li.top-menu__item
							a.top-menu__link(href="#") Контакты
		





		script(src="js/libs.min.js")
		script(src="js/main.min.js")
	