h1 {
	font-size: rem(82px);
	font-family: RainTungsten;
	font-style: italic;
	@include laptop {
		font-size: rem(14px);
	}
}

.header {
	background-image: url("../img/header_bg.jpg");
	background-size: cover;
	background-position: center center;
	height: 137px;
	@include mobile {
		height: 100px;
	}
}

.header__content {
	height: 137px;;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 15px 0 15px;
	@include mobile {
		height: 100px;
	}
}

.logo__img {
	@include smart {
		width: rem(250px);
	}
	@include mobile {
		width: rem(200px);
	}
}

.header__contacts {
	display: flex;
}

.header__phones {
	display: flex;
	font-family: RainTungsten;
	font-style: italic;
	color: $yellow;
	font-size: rem(33px);
	font-weight: bold;
	letter-spacing: 1px;
	margin-right: rem(40px);
	@include mobile {
		margin-right: rem(5px);
	}
}

.header__phones-city {
	margin-right: rem(30px);
	@include laptop {
		display: none;
	}
}

.phones__code {
	color: $light-gray;
	font-size: rem(21px);
}

.header__address {
	padding-left: 40px;
	border-left: 1px solid rgba(255,255,255,.5);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	color: #fff;
	font-family: Roboto;
	font-size: rem(14px);
	@include mobile {
		padding-left: 5px;
		display: none;
	}
	i {
		font-size: rem(20px);
		margin-right: 10px;
	}
}

.address__clock {
	display: flex;

}

.address__map {
	display: flex;
}

.addres__day {
	color: $light-gray;
}

.address_vac {
	font-size: rem(12px);
}

.address__map-link {
	color: $orange;
	font-size: rem(12px);
	&:hover {
		text-decoration: none;
	}
}